* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 24px;
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;

    color: #FAF9F6;
}

.left {
    display: flex;
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 8px;
    cursor: pointer;
}

.right {
    font-size: 24px;
    display: flex;
    width: 100%;
    gap: 48px;

    justify-content: flex-end;
}

.right div {
    display: inline-block;
    padding-bottom:8px;
    background-image: linear-gradient(#FAF9F6, #FAF9F6);
    background-position: 0 100%;
    background-size: 0 2px;
    background-repeat: no-repeat;
    transition:
            background-size 0.3s,
            background-position 0s 0.3s; /*change after the size immediately*/
}

.right div:hover {
    background-position: 100% 100%; /*OR bottom right*/
    background-size: 100% 2px;
}

@media only screen and (max-width: 768px) {
    .navbar-container {
        display: none;
    }
}